{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('tape_choose.static', filename='styles.css')}}">

<main class="mdl-layout mdl-base mdl-js-layout mdl-layout__content">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <section class="v_card mdl-grid mdl-shadow--2dp mdl-card--border">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-card--border">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">
                        Информация
                    </h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>
                        Для каждой пары цветов Вы можете выбрать тот, который нравиться Вам больше. Выбирать можно нажатием на ленту/кружок. Вы можете отменить выбор повторным нажатием на элемент.
                        <b>В форме нет ни одного обязательного поля.</b>
                    </p>
                    <p>
                        При прохождении на телефоне рекомендуется повернуть его горизонтально.
                    </p>
                </div>
            </div>
        </section>

        {% for pair in pairs %}
            <section class="mdl-card mdl-card--border v_card mdl-shadow--2dp through mdl-shadow--16dp">
                {% for i in range(2) %}
                    <label class="mdl-card__supporting-text mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-grid mdl-grid--no-spacing" for="{{pair.inputs[i].id}}" style="height: auto; margin: auto;">
                        {{pair.inputs[i](class="mdl-radio__button", onClick="check{}(this);".format(pair.id))}}
                            <div class="mdl-cell mdl-cell--3-col">
                                <img src="{{pair.colors[i].image_link}}" height="250px">
                            </div>
                            <div class="mdl-cell mdl-cell--9-col">
                                <p class="tape" style="background-color: #{{pair.colors[i].hex}}">
                                    ВЫПУСКНИК 2К!8
                                </p>
                            </div>
                    </label>
                {% endfor %}
            </section>
            <script>
                var a{{ pair.id }}, b{{ pair.id }} = 1;
                {% for i in range(2) %}
                    {% if pair.inputs[i].checked %}
                        a{{ pair.id }} = document.getElementById("{{pair.inputs[i].id}}");
                    {% endif %}
                {% endfor %}
                function check{{ pair.id }}(c) {
                    if (a{{ pair.id }} != c) {b{{ pair.id }} = 0;a{{ pair.id }} = c};
                    b{{ pair.id }} ^= 1;
                    if (b{{ pair.id }} == 0) c.parentElement.MaterialRadio.uncheck();
                };
            </script>
        {% endfor %}
        <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-card--border v_card mdl-shadow--2dp through mdl-shadow--16dp">
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">
                        {% if feedback_available %}
                            <p>
                                Пожайста, заполните эту форму, мы стараемся для вас. Оцените проект:
                            </p>
                            <div class="mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                    {{rf.usability(class="mdl-textfield__input")}}
                                    <label class="mdl-textfield__label" for="{{rf.usability.id}}">Удобство</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                    {{rf.usefulness(class="mdl-textfield__input")}}
                                    <label class="mdl-textfield__label" for="{{rf.usefulness.id}}">Полезность</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                    {{rf.designing(class="mdl-textfield__input")}}
                                    <label class="mdl-textfield__label" for="{{rf.designing.id}}">Дизайн</label>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    {{rf.comment(class="mdl-textfield__input")}}
                                    <label class="mdl-textfield__label" for="{{rf.comment.id}}">Комментарий</label>
                                </div>
                            </div>
                        {% else %}
                            <p>
                                Вы оставили слишком много отзывов.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </section>
        <div class="v_card mdl-grid">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect v_card" type="submit">
                Сохранить
            </button>
        </div>
    </form>
</main>

{% endblock %}