<!DOCTYPE html>
<html lang="ru" class="mdl-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_orange.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="shortcut icon" href="/static/ic_school_black_48dp_1x.png" type="image/png">
    <title>Цвет ленты</title>
</head>
<body class="mdl-color--blue_grey-100 mdl-color-text--blue_grey-700">
    {% block content %}{% endblock %}
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>