{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<main class="mdl-layout mdl-base mdl-js-layout mdl-layout__content">
    <div class="msg_card mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h1>
                Выбираем цвет ленты на выпускной
            </h1>
            <p>
                Лучше голосовать за цвета, чем обсуждать. Ведь о вкусах не спорят.
            </p>
            <p>
                Не рекомендуется голосование со смартфона. Спешить же некуда. Проголосуете потом.
            </p>
            <div class="table-responsive" style="max-width: 100%; overflow: auto;">
                <table class="mdl-data-table mdl-js-data-table">
                    <tbody>
                        <tr>
                            <td>
                                Оценка цветов
                            </td>
                            <td></td>
                            <td>
                                <a href="{{url_for('tape_choose.vote')}}" target="_blank">
                                    <i class="material-icons">web</i>
                                    Вход [0]
                                </a>
                            </td>
                            <td>
                                <a href="{{url_for('tape_choose.results')}}" target="_blank">
                                    <i class="material-icons">web</i>
                                    Результаты
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><b>Информация о сбое(23.11): при одновременной отправки большого числа писем Gmail может временно ограничивать доступ, не отправляя письма, разрывая соединение. На небольшой базе данных этого нельзя было заметить. В 21:00 система начала раунд для b1 и попыталась запустить для b3. Каждый раз, когда кто-то пытался проголосовать/просмотреть результаты, система пыталась начать новый раунд для b3, но падала в процессе, при этом многие ученики успевали получать письма. Сайт пришлось отключить. Алгоритм рассылки исправлен. Приношу извенения за большое количество дублирующихся писем и за проблемы с доступом к сайту.</b></p>
            <p>Для снижения нагрузки раунды в b1 перенесены на час вперёд.</p>
            <p>
                Цвета и картинки взяты
                <a href="https://promolenta.ru/ispolzuemye-vidy-lenty/satinovaya-lenta-s-gladkim-kraem/" target="_blank">
                    отсюда
                </a>.
                Косяк с коричневым тоже на их совести.
            </p>
            <p>
                Цвета определены с помощью
                <a href="https://www.easycalculation.com/colorconverter/pantone-to-hex-table.php" target="_blank">
                    этой таблицы
                </a>.
            </p>
            <p>
                Разработка сайта: <a href="https://vk.com/alexmir1" target="_blank">Алексей Миронов</a>,
                <br>
                парсера: <a href="https://vk.com/id218297558" target="_blank">Maksim Lavrik</a>
            </p>
            <p>
                <a href="https://github.com/alexmir1/tape_choose" target="_blank">
                    Код проекта на GitHub.
                </a>
            </p>
        </div>
    </div>
</main>
{% endblock %}
