{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<main class="mdl-layout mdl-base mdl-js-layout mdl-layout__content">
    <div class="msg_card mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h1>
                Выбираем цвет ленты на выпускной.
            </h1>
            <p>
                Обсуждать цвета бесполезно. Можно только голосовать.
            </p>
            <div class="table-responsive" style="max-width: 100%; overflow: auto;">
                <table class="mdl-data-table mdl-js-data-table">
                    <tbody>
                        <tr>
                            <td>
                                Оценка цветов
                            </td>
                            <td></td>
                            <td>
                                <a href="{{url_for('tape_choose.vote')}}" target="_blank">
                                    <i class="material-icons">web</i>
                                    Вход[0]
                                </a>
                            </td>
                            <td>
                                <a href="{{url_for('tape_choose.results')}}" target="_blank">
                                    <i class="material-icons">web</i>
                                    Результаты
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                Цвета и картинки взяты
                <a href="https://promolenta.ru/ispolzuemye-vidy-lenty/satinovaya-lenta-s-gladkim-kraem/" target="_blank">
                    отсюда
                </a>.
                Косяк с коричневым тоже на их совести.
            </p>
            <p>
                Цвета определены с помощью
                <a href="https://www.easycalculation.com/colorconverter/pantone-to-hex-table.php" target="_blank">
                    этой таблицы
                </a>.
            </p>
            <p>
                Разработка сайта - <a href="https://vk.com/alexmir1" target="_blank">Алексей Миронов</a>,
                <br>
                парсера - <a href="https://vk.com/id218297558" target="_blank">Maksim Lavrik</a>
            </p>
            <p>
                <a href="https://github.com/alexmir1/tape_choose" target="_blank">
                    Код проекта на GitHub.
                </a>
            </p>
        </div>
    </div>
</main>
{% endblock %}
